<% layout('layouts/boilerplate') %> 

<div class="wrapper">
    <div class="comment-box">
        <form action="/apps/comments/<%= comment._id %>?_method=PUT" method="post">
            <div class="content-wrapper">
            <label for="comment">내용을 입력하세요</label>
            <br>
            <textarea name="comment" id="content" maxlength="156" required"><%= comment.comment %> </textarea>
            </div>
            <hr>
            <div class="user-wrapper">
            <label for="user">작성자를 입력하세요</label>
            <br>
            <input type="text" name="user" id="user" required value="<%= comment.user %> ">
            </div>
            <hr>
            <div class="date-wrapper">
            <label for="date">날짜와 시간을 입력하세요. 예)22-11-29-21:30</label>
            <br>
            <input type="text" id="date" name="date" required value="<%= comment.date %> ">
            <button id="save-button">저장</button>
            </div>
        </form>
        <form action="/apps/comments/<%= comment._id %>?_method=DELETE" method="post">
            <button id="delete-button">삭제</button>
        </form>
    </div>
</div>